<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574414104325-3ljks7rgjh2tlumjed5rmcvik122u79m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574414104325-3ljks7rgjh2tlumjed5rmcvik122u79m</string>
	<key>API_KEY</key>
	<string>AIzaSyBRUsUYFdV4M2X3EbSqHcK8Vwvj9J6U1lI</string>
	<key>GCM_SENDER_ID</key>
	<string>574414104325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apk1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>defenceapp-a61e2</string>
	<key>STORAGE_BUCKET</key>
	<string>defenceapp-a61e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574414104325:ios:bebddf4ce98e40501a396c</string>
</dict>
</plist>